{% extends 'base.html' %}

{% block page_meta %}
    <title>{{ item.get_title }}</title>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ item.get_title }}</h3>
        </div>
        {% if item.get_tables %}
    </div>
    <div class="row">
            {% for table in item.get_tables %}
                {% include "cafe/templatetags/table_list_item.html" with table=table %}
            {% endfor %}
        {% else %}
            <div class="col-xs-12 col-sm-6">
                <div class="alert alert-warning">В данном кафе нет столиков!</div>
            </div>
        {% endif %}
    </div>
{% endblock %}